<!DOCTYPE html>
<html>
<head>
  <title>WorkVI</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container-fluid">
        <ul class="nav nav-tabs">  
          <%= link_to "Home", root_path %> 
          <%= link_to "About", about_path %>
          <a name="top"></a>
         
          <h1><em><span>WorkVI</span></em></h1>
        </ul>
 
        <%= yield %>
    </div>



</body>
</html>
