<!DOCTYPE html>
<html>
<head>
  <title>WorkVI</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container-fluid">
        <ul class="nav nav-tabs">  
          <%= link_to "Home", root_path %> 
          <%= link_to "About", about_path %>
          <a name="top"></a>
          <div class="pull-right user-info">
            <% if current_user %>
              <h5>Hi, you're signed in as:</h5> <em><%= link_to (current_user.name || current_user.email), edit_user_registration_path %> </em>
              <small><%= link_to "Sign out", destroy_user_session_path, class: 'movielink', method: :delete %></small>
            <div align = "center"><%= image_tag(current_user.image)%></div> <br>
            <% else %>
              <%= link_to "Sign In", new_user_session_path %> <em>or</em> 
              <%= link_to "Sign Up", new_user_registration_path %><em><br>
            <% end %>
          </div>
         
          <h1><em><span>WorkVI</span></em></h1>
        </ul>

        <%= yield %>
    </div>



</body>
</html>
